<div id="sig-container" style="margin-top">
	<div style="float:left;" id="photoWrapper">
		<img src="https://admin.lyon-esport.fr/media/users/SIGNATURE-les.png" id="sigPhoto">
	</div>
	<div style="margin-top:0px; margin-left: 74px;" id="sigDetailsWrapper">
		<p style="font-family: Helvetica, sans-serif; font-size: 12px; line-height: 14px; color:#333; margin-top: 0px;" id="sigCompanyWrapper">
			<strong><span id="sigCompany">Association Lyon e-Sport</span></strong><br>
			<strong><span id="sigName">%firstname% %lastname%</span></strong>
			<span id="sigTitle">/ %teamname%OR%title%</span><br>
			<span><a href="https://www.lyon-esport.fr/" id="sigWebsite" style="color:rgb(255, 0, 0);" rel="nofollow">lyon-esport.fr</a></span>
		</p>
		<p style="font-family: Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #333;"> <span id="twitterIcon"><a href="https://twitter.com/LyoneSport"><img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/twitter_circle_color-20.png" width="20px" height="20px"></a></span>
			<span id="facebookIcon"><a href="https://fr-fr.facebook.com/LyoneSport/"><img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/facebook_circle_color-20.png" width="20px" height="20px"></a></span>
			<span id="instagramIcon"><a href="https://www.instagram.com/lyonesport/"><img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/instagram_circle_color-20.png" width="20px" height="20px"></a></span>
			<span id="youtubeIcon"><a href="https://www.youtube.com/c/lyonesports/"><img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/youtube_circle_color-20.png" width="20px" height="20px"></a></span>
			<span id="githubIcon"><a href="https://github.com/lyon-esport/"><img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/github_circle_black-20.png" width="20px" height="20px"></a></span>
		</p>
	</div>
</div>
