Bonjour à toi !

Voici les informations pour te connecter :

**lien** => https://accounts.google.com/ServiceLogin
**email** => {{ email }}
**mot de passe** => {{ password }}

Tu seras invité à changer ton mot de passe lors de la première connexion.
Tu as accès maintenant au GDrive de l'Asso, n'hésite pas à naviguer dedans via : https://drive.google.com/drive/shared-drives
Tu verras l'ensemble des différentes équipes et l'essentiel du travail de l'asso
Bien sûr, tout ce qui concerne l'asso sera uniquement ici

C'est un compte Google donc l'ensemble des services liés aux GAPPS te sont ouverts avec ton adresse mail LES !
Si tu as des questions, n'hésite surtout pas à revenir vers l'équipe technique pour nous questionner dans les différents chan ! On se fera un plaisir de te répondre.

Bienvenue à la Lyon e-Sport ! :wink: :grin:
